.student_info-fullname {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: normal;
}

.student_info-moduls {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: normal;
}

.unknown {
  justify-content: space-between;
  height: 50px;
}

.title_box {
  width: 400px;
  background-color: #f39fdc;
  height: 50px;
  text-align: center;
  opacity: 0.7;
  border: none;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  margin-left: 100px;
}

.title_box:hover {
  background-image: linear-gradient(315deg, #f39fdc 0%, #9ab5e1 74%);
}

.introduction_text {
  padding: 30px 0 30px 0;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

.question_types_title {
  font-weight: 600;
}

.lang {
  padding: 30px 0 30px 0;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.listen {
  width: 500px;
  height: 50px;
  padding: 30px;
}

.question_types_title {
  text-align: left;
}

.question_list {
  text-align: left;
}

.button__add-quiz__link {
  display: inline;
}

.button__add-quiz {
  width: 200px;
  height: 50px;
  background-color: #9ab5e1;
  opacity: 0.7;
  //background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  bottom: 8px;
}

.button__add-quiz:hover {
  background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
}

.title_box_listening {
  width: 400px;
  background-color: #f39fdc;
  height: 50px;
  text-align: center;
  opacity: 0.7;
  border: none;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  margin: auto;
}

.title_box_listening:hover {
  background-image: linear-gradient(315deg, #f39fdc 0%, #9ab5e1 74%);
}

.title_box-task_listening {
  width: 400px;
  background-color: #f39fdc;
  height: 50px;
  text-align: center;
  opacity: 0.7;
  border: none;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  margin: auto;
}

.title_box-task_listening:hover {
  background-image: linear-gradient(315deg, #f39fdc 0%, #9ab5e1 74%);
}

.content_img_listening {
  width: 50%;
}