h1 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.subscription_container {
  text-align: center;
}

.subscription_details {
  margin: 70px 50px;
}

h2 {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.subscription_info__title {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
}

.subscription_info {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
