
.profile_button {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  height: 70px;
  background-color:  #9ab5e1;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  letter-spacing: 3px;
  text-decoration: none;
  margin: 30px auto;
}

.subscription_container {
  border: 1px solid #f39fdc;
  margin: 40px auto;
  padding: 20px;
  width: 80%;
}

.subscription-container_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.empty-button__text {
  text-decoration: none;
  color: #fff;
}

.badges_container {
  width: 83%;
  margin: 20px auto;
  border: 1px solid #9ab5e1;
}

.achievements {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px;
}

.badge {
  display: inline-block;
  width: 160px;
  text-align: center;
  margin: 40px 37px;
}

.badge_image {
  width: 120px
}

.badge_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}

.badge_subtitle-done {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: greenyellow;
}

.badge_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: grey;
}

.prize_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.prize_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
