@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300|Poiret+One|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One|Raleway&display=swap");

.Submenu_layout {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid #f39fdc;
  height: 80px;
  align-items: center;
}

.sudmenu_link {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  font-weight: 300;
  align-items: center;
  padding-top: 30px;
}

.submenu_title {
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.submenu__img {
  width: 34px;
  margin-right: 10px;
}
